<a href="https://colab.research.google.com/github/BeneWim/ACTHProject/blob/Francesca/MET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv ("/MetObjects.txt")

/tmp/ipython-input-5-1783447767.py:5: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv ("/MetObjects.txt")

# Neuer Abschnitt

In [10]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484956 entries, 0 to 484955
Data columns (total 54 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            484956 non-null  object
 1   Is Highlight             484956 non-null  bool
 2   Is Timeline Work         484956 non-null  bool
 3   Is Public Domain         484956 non-null  bool
 4   Object ID                484956 non-null  int64
 5   Gallery Number           49541 non-null   object
 6   Department               484956 non-null  object
 7   AccessionYear            481094 non-null  object
 8   Object Name              482690 non-null  object
 9   Title                    456153 non-null  object
 10  Culture                  208190 non-null  object
 11  Period                   91143 non-null   object
 12  Dynasty                  23201 non-null   object
 13  Reign                    11236 non-null   object
 14  Portfolio                26514 non-null   object
 15  Constituent ID           282513 non-null  object
 16  Artist Role              282513 non-null  object
 17  Artist Prefix            282513 non-null  object
 18  Artist Display Name      282513 non-null  object
 19  Artist Display Bio       280423 non-null  object
 20  Artist Suffix            282465 non-null  object
 21  Artist Alpha Sort        282513 non-null  object
 22  Artist Nationality       282513 non-null  object
 23  Artist Begin Date        282513 non-null  object
 24  Artist End Date          282513 non-null  object
 25  Artist Gender            106482 non-null  object
 26  Artist ULAN URL          227441 non-null  object
 27  Artist Wikidata URL      224202 non-null  object
 28  Object Date              471525 non-null  object
 29  Object Begin Date        484956 non-null  int64
 30  Object End Date          484956 non-null  int64
 31  Medium                   477741 non-null  object
 32  Dimensions               409898 non-null  object
 33  Credit Line              484305 non-null  object
 34  Geography Type           59959 non-null   object
 35  City                     32754 non-null   object
 36  State                    2621 non-null    object
 37  County                   8559 non-null    object
 38  Country                  76007 non-null   object
 39  Region                   31500 non-null   object
 40  Subregion                22143 non-null   object
 41  Locale                   15739 non-null   object
 42  Locus                    7518 non-null    object
 43  Excavation               16571 non-null   object
 44  River                    2092 non-null    object
 45  Classification           406239 non-null  object
 46  Rights and Reproduction  24529 non-null   object
 47  Link Resource            484956 non-null  object
 48  Object Wikidata URL      69154 non-null   object
 49  Metadata Date            0 non-null       float64
 50  Repository               484956 non-null  object
 51  Tags                     192455 non-null  object
 52  Tags AAT URL             192455 non-null  object
 53  Tags Wikidata URL        192455 non-null  object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 190.1+ MB

In [45]:
selected_df = df[['Culture', 'Object Name', 'Object ID', 'Classification']]

In [46]:
selected_df.value_counts(dropna=False).head(500)

Culture                       Object Name  Object ID  Classification
NaN                           NaN          900717     NaN                          1
\r\nChugach, Native American  Hat          717582     NaN                          1
"Peking" work                 Smallsword   32401      Swords                       1
Abau people                   Shield       314013     Wood-Implements              1
Abelam people                 Bird figure  313879     Wood-Sculpture               1
                                                                                  ..
African (Ashanti peoples)     Ring         141747     NaN                          1
                                           141746     NaN                          1
                              Necklace     141745     NaN                          1
African                       Zanze        504869     Chordophone                  1
                              Xylophone    501919     Idiophone-Struck-bar-wood    1
Name: count, Length: 500, dtype: int64

In [47]:
selected_df[['Culture', 'Object Name', 'Object ID', 'Classification' ]].value_counts(dropna=False).head(50)

Culture                       Object Name  Object ID  Classification
NaN                           NaN          900717     NaN                            1
\r\nChugach, Native American  Hat          717582     NaN                            1
"Peking" work                 Smallsword   32401      Swords                         1
Abau people                   Shield       314013     Wood-Implements                1
Abelam people                 Bird figure  313879     Wood-Sculpture                 1
                              Charm        318657     Basketry-Sculpture             1
                              Dagger       314002     Bone/Ivory-Implements          1
                              Disk         311343     Wood-Implements                1
                                           311344     Wood-Implements                1
                                           311345     Wood-Implements                1
                                           311346     Wood-Implements                1
                                           311347     Wood-Implements                1
NaN                           NaN          896974     NaN                            1
                                           896972     NaN                            1
                                           896970     NaN                            1
                                           896966     NaN                            1
                                           896962     NaN                            1
                                           896955     NaN                            1
                                           896259     Prints                         1
                                           896222     NaN                            1
                                           896217     NaN                            1
                                           896212     NaN                            1
                                           896209     NaN                            1
                                           896201     NaN                            1
                                           896196     NaN                            1
                                           896191     NaN                            1
                                           896188     NaN                            1
                                           896183     NaN                            1
Abelam people                 Spear        313867     Wood-Implements                1
                                           313866     Wood-Implements                1
                                           313865     Wood-Implements                1
                              Ring         319573     Shell-Ornaments                1
                              Panel        313878     Wood-Sculpture                 1
                              Painting     316763     Paper-Paintings                1
                                           316762     Paper-Paintings                1
                                           316761     Paper-Paintings                1
                                           316760     Paper-Paintings                1
                                           316759     Paper-Paintings                1
                                           316758     Paper-Paintings                1
                                           316757     Paper-Paintings                1
                                           316756     Paper-Paintings                1
                              Ornament     311992     Bone/Ivory-Ornaments           1
                                           311991     Bone/Ivory-Ornaments           1
                              Mask         313783     Basketry-Sculpture             1
Achaemenid                    Brick        324036     Ceramics                       1
                              Bracelet     326637     Metalwork-Ornaments            1
                              Bowl         324026     Metalwork-Vessels-Inscribed    1
                              Bowl         325675     Metalwork-Vessels              1
                                           324437     Metalwork-Vessels              1
                                           324289     Metalwork-Vessels-Inscribed    1
Name: count, dtype: int64

In [51]:
selected_df[selected_df['Culture'].isin(['Roman', 'Greek'])].head(50)

,Culture,Object Name,Object ID,Classification
24270,Roman,Buckle from horse trapping,29366,Equestrian Equipment-Bits
24271,Roman,Buckle from horse trapping,29367,Miscellaneous-Buckles & Ornament
24272,Roman,Buckle from horse trapping,29368,Miscellaneous-Buckles & Ornament
25141,Greek,Primer,30350,Firearms Accessories-Flasks & Primers
27951,Roman,Pendant,33185,Miscellaneous-Buckles & Ornament
27952,Roman,Buckle,33186,Miscellaneous-Buckles & Ornament
28806,Roman,Arrowhead for an Incendiary Arrow,34064,Archery Equipment
67969,Greek,Ensemble,81694,NaN
68476,Greek,Ensemble,82686,NaN
70438,Greek,Dress,85863,NaN
70444,Greek,Dress,85873,NaN
70445,Greek,Chemise,85874,NaN
70446,Greek,Underdress,85876,NaN
70447,Greek,Ensemble,85877,NaN
70448,Greek,Shirt,85881,NaN
70449,Greek,Ensemble,85882,NaN
70451,Greek,Shirt,85886,NaN
70452,Greek,Jacket,85887,NaN
70453,Greek,Apron,85896,NaN
70454,Greek,Apron,85897,NaN
70604,Greek,Ensemble,86082,NaN
70605,Greek,Gaiters,86083,NaN
70606,Greek,Skirt,86084,NaN
70607,Greek,Trousers,86085,NaN
70608,Greek,Girdle,86086,NaN
70609,Greek,Suspenders,86087,NaN
71473,Greek,Slippers,89023,NaN
71506,Greek,Cap,89462,NaN
71507,Greek,Cap,89481,NaN
71625,Greek,Bracelet,90117,NaN
72222,Greek,Shirt,91184,NaN
75516,Greek,Jacket,98340,NaN
75517,Greek,Jacket,98341,NaN
76583,Greek,Underdress,102391,NaN
76584,Greek,Underdress,102392,NaN
76709,Greek,Collar,102566,NaN
77854,Greek,Jewelry Set,104874,NaN
80014,Greek,Beach cover-up,109413,NaN
80669,Greek,Coat,110536,NaN
81955,Greek,Pumps,114562,NaN
82609,Greek,Cap,116266,NaN
84012,Greek,Ensemble,119448,NaN
86511,Greek,Gaiters,125780,NaN
86683,Greek,Coat,127167,NaN
86725,Greek,Jacket,127323,NaN
86728,Greek,Jacket,127334,NaN
86729,Greek,Jacket,127335,NaN
86749,Greek,Chemise,127439,NaN
86979,Greek,Jacket,128457,NaN
87501,Greek,Textile,135174,NaN